emelio
memo.md
.vscode/
.DS_Store
compiled/env.c
compiled/code.c
compiled/lib.s

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

*.cpp.cc

*.new
*.inc

# IDE
*.cflags
*.config
*.files
*.cxxflags
*.includes
*.creator
*.creator.user
